body{
background: aqua;
}
form{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background: aliceblue;
    width: 500px;
    height: 300px;
}
p{
    margin-left: 30px;
    color: blue;
}